# General ignores
*.log
*.tmp
*.bak
*.swp
*~
.DS_Store
Thumbs.db
Desktop.ini

# Backend specific (Spring Boot)
backend/target/

# Frontend specific (React)
frontend/node_modules/
frontend/.env
frontend/build/
Report1_UML_Diagram.drawio
frontend/vite.config.js
frontend/vite.config.js
*.drawio
frontend/package-lock.json
frontend/package-lock.json
frontend/package-lock.json
backend/src/main/resources/.env
